body {
  background: linear-gradient(135deg, #ffe0ea, #ffd1dc);
  height: 100vh;
  margin: 0;
  font-family: Georgia;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 40px;
}

.battery {
  width: 240px;
  height: 90px;
  border: 4px solid black;
  border-radius: 18px;
  overflow: hidden;
}

.level {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #ff4d6d, #ff8fa3);
  transition: width 5s ease;
}
