body {
  margin: 0;
  height: 100vh;
  background: #ffe6ee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, serif;
  overflow: hidden;
}

.page {
  text-align: center;
}

.hidden {
  display: none;
}

/* PAGE 1 */
button {
  padding: 12px 25px;
  margin: 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #ccc;
  position: absolute;
}

/* PAGE 2 BATTERY */
#battery {
  width: 220px;
  height: 90px;
  border: 5px solid #333;
  border-radius: 10px;
  position: relative;
  margin: auto;
}

#battery::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 25px;
  width: 10px;
  height: 35px;
  background: #333;
}

#battery-level {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #ff4d6d, #ff85a1);
  border-radius: 5px;
}

/* PAGE 3 */
.teddy-box {
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto;
}

.teddy {
  width: 120px;
  position: absolute;
  top: 0;
}

.left {
  left: 0;
  animation: hugLeft 2s forwards;
}

.right {
  right: 0;
  animation: hugRight 2s forwards;
}

@keyframes hugLeft {
  to { left: 90px; }
}

@keyframes hugRight {
  to { right: 90px; }
}

.hearts {
  font-size: 30px;
  animation: float 2s infinite;
}

@keyframes float {
  0% { opacity: 0; transform: translateY(20px); }
  50% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-40px); }
}
